.body{
    background-color: var(--primaria) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding-bottom: 25px;
}

.cardQuestions{
    background-color:var(--cinzaBackground) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    min-height: 200px;
    height:200px;
    border-radius: 15px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    margin-top: 25px;
}

.holderNumberAndAsk{
    color: #ffffff;
    background-color: #252d4a;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.holderNumberAndAsk:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #252d4a ;
    bottom: -8px;
    left: 8%;
}

.number{
}

.ask{
}

.holderOptions{
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.buttonOption{

}

.holderOptionA{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    justify-content: flex-start;
    text-align: start;
    flex-direction: row;
}

.optionA{

}

.holderOptionB{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    justify-content: flex-start;
    text-align: start;
    flex-direction: row;
}

.optionB{

}

@media only screen and (max-width: 565px) {

    .cardQuestions{
        width: 350px;
    }
  }

  @media only screen and (max-width: 565px) {

    .cardQuestions{
        width: 300px;
    }
  }